@page "/addressui"

<h3>AddressUI</h3>
<p>Street Address: <textarea id="_StreetAddress" name="_StreetAddress" rows="1" cols="50" maxlength="100" required></textarea></p>
<p>City: <textarea id="City" name="City" rows="1" cols="50" maxlength="100" required></textarea></p>
<p>State: <textarea id="State" name="State" rows="1" cols="50" maxlength="100" required></textarea></p>
<p>Province: <textarea id="Province" name="Province" rows="1" cols="50" maxlength="100" required></textarea></p>
<p>Country: <textarea id="Country" name="Country" rows="1" cols="50" maxlength="100" required></textarea></p>


<a href="/addresses/put/@StreetAddress/@City/@State/@Province/@PostalCode/@Country" type="button" class="btn btn-primary" button style="margin:0px 10px 0px 190px">Put</a>

@code {
    string StreetAddress = "Street Address";
    string City = "City";
    string State = "State";
    string Province = "Province";
    string PostalCode = "Postal Code";
    string Country = "Country";
}
