@page "/country"

<h3>Search Country Specific Addresses</h3>

<p>Country: <textarea id="Country" name="Country" rows="1" cols="50" maxlength="100" required></textarea></p>

<a href="addresses/search/@country" type="button" class="btn btn-primary" button style="margin:0px 10px 0px 190px">Search</a>

@code {
    string country = "Brazil";
}