@page "/match"

<h3>Find matching address</h3>
<p>Street Address: <textarea id="_StreetAddress" name="_StreetAddress" rows="1" cols="50" maxlength="100" required></textarea></p>
<p>Postal Code: <textarea id="PostalCode" name="PostalCode" rows="1" cols="50" maxlength="100" required></textarea></p>
<p>City: <textarea id="City" name="City" rows="1" cols="50" maxlength="100" required></textarea></p>
<p>Province: <textarea id="Province" name="Province" rows="1" cols="50" maxlength="100" required></textarea></p>
<p>Country: <textarea id="Country" name="Country" rows="1" cols="50" maxlength="100" required></textarea></p>

<form action="/action_page.php">
    <label for="cars">Choose a country:</label>
    <select name="cars" id="cars">
        <option value="volvo">Italy</option>
        <option value="saab">China</option>
        <option value="opel">Australia</option>
        <option value="audi">Honduras</option>
    </select>
</form>

<a href="/addresses/match/@City" type="button" class="btn btn-primary" button style="margin:0px 10px 0px 190px">Match</a>

@code {
    string City = "Rome";
}